* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 350px;
    box-shadow: 2px 1px 10px rgb(197, 197, 197);
    position: sticky;
    top: 0px;
    /* right: 0px;
    left: 0px; */
}

.nav-img {
    width: 100px;
}

.list-items li {
    list-style: none;
    display: inline;
    margin-right: 30px;
}

.list-items li a {
    color: black;
    text-decoration: none;
}

.fixed {
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: fixed;
    top: 750px;
    right: 100px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 246);
    padding: 0px 400px;
}


.first-section h1 {
    font-size: 64px; 
    margin-bottom: 20px;   
}
.first-section p {
    font-size: 20px;
    margin-bottom: 20px;   
    line-height: 1.5;
}

.first-section button {
    background-color: blue;
    border: none;
    padding: 15px 15px;
    border-radius: 8px;
    color: white;
}